<ul class="list-unstyled">{% load i18n df_site %}
    {% for state in stock_level %}
        <li>
            {{ state.html_usage }}{% if state.comment %} <em>{{ state.comment }}</em>{% endif %}
        {% if state.buying_date %}({{ state.buying_date }}){% endif %}
        <a href="{% url 'paint_update' pk=state.pk %}{{ url_suffix }}">{% fa6_icon 'edit' %}</a>
        <a href="{% url 'paint_delete' pk=state.pk %}{{ url_suffix }}">{% fa6_icon 'times' %}</a>
        </li>
        {% empty %}
        <li>
        {% trans 'Peinture absente' %}
        </li>
    {% endfor %}
<li>
        <a class="btn btn-primary btn-sm" href="{{ add_url }}"><i class="fa fa-plus"></i> {% trans 'Ajouter' %}</a>
</li>
</ul>
