{% extends "df_site/base.html" %}
{% load i18n df_site websockets static %}

{% block navbar_site_title %}
    <a class="navbar-brand" href="{% if INDEX_URL %}{{ INDEX_URL }}{% else %}{% url 'index' %}{% endif %}">
        <img class="w-25" src="{% static 'favicon/apple-touch-icon.png' %}" alt="{% trans 'Site logo' %}">
    </a>
{% endblock navbar_site_title %}


{% block navbar_content %}
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link active" href="{% if INDEX_URL %}{{ INDEX_URL }}{% else %}{% url 'index' %}{% endif %}">{% trans 'Home' %}
                <span class="visually-hidden">(current)</span>
            </a>
        </li>
    </ul>
{% endblock navbar_content %}

{% block navbar_search_form %}
    <form class="d-flex" action="{% url 'index' %}" method="get">
        <div class="input-group">
            {% for input_value in SEARCH_KWARGS.items %}
                <input type="hidden" value="{{ input_value.1 }}" name="{{ input_value.0 }}">
            {% endfor %}
            <input type="text" class="form-control" placeholder="{% trans 'Search' %}"
                   name="{{ SEARCH_VAR }}"
                   aria-label="{% trans 'Search' %}" aria-describedby="navbar-search-button">
            <button class="btn btn-outline-light" type="submit"
                    id="navbar-search-button">{% fa6_icon 'search' %}</button>
        </div>
    </form>
{% endblock navbar_search_form %}
